<header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Portail de Vie Scolaire</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/parents">Liste Parents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students"><i class="fa-sharp fa-solid fa-circle-exclamation"></i>Liste Elèves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lessons">Liste Leçons</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>