<h1>
  Liste des Parents
</h1>

<ul>
  {{#each parents}}
    <li>
      {{this}}
    </li>
  {{/each}}
</ul>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Prénom/Nom</th>
      <th scope="col">Age</th>
      <th scope="col">Classe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each parents}}
      <th scope="col">
        {{this}}
      </th>
      {{/each}}
    </tr>
  </tbody>
</table>